################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Maize.CLion/v17/Preview/Browse.VC.db
/.vs/Maize.CLion/v17/Preview
/.vs/Maize.CLion/v17/TestStore/0
/.vs/Maize.CLion/v17
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX
/cmake-build-debug/Testing/Temporary
/cmake-build-release
/cmake-build-relwithdebinfo
/out/build
/Maize.kdev4
/cmake-build-debug
/.vs/slnx.sqlite
/.kdev4
/.vs/Maize/v17/Preview/Browse.VC.db
/.vs/Maize/v17/Preview/Browse.VC.db-shm
/.vs/Maize/v17/Preview/Browse.VC.db-wal
/.vs/Maize/v17/Preview/Browse.VC.opendb
/.vs/Maize/v17/.suo
/.vs/Maize/v17/Preview/ipch/AutoPCH/d76e95e56ce78982/MAIN.ipch
/.vs/Maize/v17/Preview/ipch/AutoPCH/d21792090f329c4e/MAIN.ipch
/.vs/Maize/v17/Preview/ipch/AutoPCH/4a7eab5be32a854c/MAIN.ipch
/.vs/Maize/project-colors.json
/.vs/Maize/v17/TestStore/0/000.testlog
/.vs/Maize/v17/TestStore/0/testlog.manifest
/.vs/cmake.db
*.ipch
/out
/.vs/1108784610.scan.fgp
*.fgp
/.vs/Maize/config/applicationhost.config
/.vs/Maize/FileContentIndex
/.vs/Maize/v17
/CMakeFiles
/.vs/launch.vs.json
/cmake_install.cmake
/mazm
/Makefile
/maize
/CMakeCache.txt
/.vs/VSWorkspaceState.json
