[submodule "toolchain/cproc"]
	path = toolchain/cproc
	url = https://github.com/michaelforney/cproc
[submodule "toolchain/qbe"]
	path = toolchain/qbe
	url = https://github.com/michaelforney/qbe
[submodule "demos/doom/doomgeneric"]
	path = demos/doom/doomgeneric
	url = https://github.com/ozkl/doomgeneric
[submodule "userland/oksh"]
	path = userland/oksh
	url = https://github.com/ibara/oksh
[submodule "userland/sbase"]
	path = userland/sbase
	url = https://github.com/michaelforney/sbase
